*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

header{
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 1rem 0;
}

.header-container{
    margin: 0 8rem ;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 32px;
    height: 32px;
}

.grouper{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.header-btn{
    border: none;
    background: none;
    color: white;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

h1{
    font-size: 3rem;
}

.des{
    text-align: center;
    width: 40%;
    margin: 2rem;
}

.main-cta,.sec-cta{
    border: none;
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: white;
}

.main-cta{
    background-color: blue;
}

.sec-cta{
    background-color: grey;
}


.section-2{
    margin: 0 10rem ;
    padding: 3rem;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.404);
}

.thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 100%;
    height: 60%;
    z-index: -1;
    border-top: 5px;
}

.thumb-des{
    padding: 1rem;
}

.time-stamp-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

@media(max-width:850px){

    html{
        font-size: 15px;
    }

    .header-container{
        margin: 0;
    }
    .des{
        width: 80%;
    }

    .section-2{
        margin: 0;
    }

    .card{
        width: 75%;
    }
}
